$background-color: #000;
$primary-color: #000000d8;
$primary-border-color: #575757f6;
$primary-text-color: #ffffff;

$tags-background-color: #4fa34f4d;
$tags-border-color: #4fa34f75;

$active-color: #4fa34f;