.party {
  &__content {
    &__body {
      form {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      input {
        border-radius: 5px 0 0 5px;
        border-right: none;
        margin-bottom: 0;
      }
      button {
        border-radius: 0 5px 5px 0;
        padding: 0.5rem;
        width: 20%;
      }
    }
  }
}