.friend {
  border: 1px solid $primary-border-color;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  &__content {
    display: flex;
    align-items: center;
    gap: 10px;
    &__image img {
      width: 64px;
      height: 64px;
      border-radius: 100%;
    }
  }
}