@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
.View {
  padding: 50px 10px 25px 10px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 28px;
}

body {
  background-color: #000;
}

#upperbar {
  background-color: rgba(0, 0, 0, 0.8470588235);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(87, 87, 87, 0.9647058824);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
}
#upperbar h2 {
  font-size: 18px;
  text-align: center;
}

nav {
  background-color: rgba(0, 0, 0, 0.8470588235);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(87, 87, 87, 0.9647058824);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  z-index: 100;
}
nav ul {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav li {
  display: inline-block;
  padding: 7px;
}
nav li i {
  font-size: 18px;
  color: #ffffff;
}
nav li.active {
  background-color: #41b4e9;
  border-radius: 25%;
}

.card__mini {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid rgba(87, 87, 87, 0.9647058824);
  border-radius: 5px;
}
.card__mini__bg img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(10px);
  opacity: 0.2;
}
.card__mini__poster img {
  width: 100px;
  height: auto;
  object-fit: cover;
}
.card__mini__infos {
  width: 100%;
}
.card__mini__infos.title {
  font-size: 1.2rem;
  font-weight: bold;
}
.card__mini__infos ul {
  margin: 0;
  padding: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 5px;
  box-sizing: border-box;
}
.card__mini__infos .tags {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}
.card__mini__infos .tags span {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(79, 163, 79, 0.3019607843);
  border: 1px solid rgba(79, 163, 79, 0.4588235294);
  color: #fff;
  font-size: 0.8rem;
}
.card__mini__infos i {
  margin-right: 5px;
}

.profile {
  position: relative;
}
.profile__card {
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid rgba(87, 87, 87, 0.9647058824);
  border-radius: 10px;
  padding: 8px;
}
.profile__card__modale {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8470588235);
  border: 1px solid rgba(87, 87, 87, 0.9647058824);
  border-radius: 10px;
  padding: 8px;
  box-sizing: border-box;
}
.profile__card__modale__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px 8px;
}
.profile__card__modale__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.profile__card__modale__list img {
  cursor: pointer;
  width: 78px;
  height: 78px;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
  border: 3px solid transparent;
}
.profile__card__modale__list img.selected {
  border: 3px solid #41b4e9;
}
.profile__card__avatar {
  height: 96px;
  position: relative;
}
.profile__card__avatar img {
  width: 96px;
  height: 96px;
  border-radius: 100%;
}
.profile__card__avatar button.edit {
  position: absolute;
  bottom: 0;
  right: 0;
}
.profile__card__infos__name {
  margin-left: 16px;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.profile__card__infos__name h1 {
  margin: 0;
}
.profile__card__infos__stats {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #ffffff;
}
.profile__disconnect {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 90%;
  margin: 0 5%;
}

button {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
button.sign {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8470588235);
  border: 1px solid rgba(87, 87, 87, 0.9647058824);
  border-radius: 50px;
  transition: all 0.3s;
}
button.sign:hover {
  background-color: #1a1a1a;
  color: #ffffff;
  transition: all 0.3s;
}
button.wide {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8470588235);
  border: 1px solid rgba(87, 87, 87, 0.9647058824);
  border-radius: 5px;
  transition: all 0.3s;
  width: 100%;
}
button.wide:hover {
  background-color: #1a1a1a;
  color: #ffffff;
  transition: all 0.3s;
}
button.edit {
  font-size: 10px;
  font-weight: bold;
  border-radius: 100%;
  padding: 5px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8470588235);
  border: 1px solid transparent;
  transition: all 0.3s;
}
button.edit:hover {
  background-color: #1a1a1a;
  border: 1px solid rgba(87, 87, 87, 0.9647058824);
  color: #ffffff;
  transition: all 0.3s;
}
button.no {
  border: none;
  background-color: transparent;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form input {
  border: 0;
  border-bottom: 1px solid rgba(87, 87, 87, 0.9647058824);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 95%;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.8470588235);
  color: #ffffff;
  transition: all 0.3s;
}
form input:focus {
  outline: none;
  border-bottom: 1px solid rgba(215, 215, 215, 0.9647058824);
}

a {
  color: #ffffff;
  transition: all 0.3s;
}
a:hover {
  color: #b3b3b3;
  text-decoration: none;
  transition: all 0.3s;
}

.details__poster img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(20px);
  opacity: 0.4;
}
.details__infos h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.details__infos h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.details__infos h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.details__infos__header__row {
  display: flex;
  gap: 10px;
}
.details__infos__overview p {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.details__infos__genres ul {
  padding: 0;
}
.details__infos__genres ul li {
  display: inline-flex;
  background-color: rgba(65, 180, 233, 0.3019607843);
  border: 1px solid rgba(65, 180, 233, 0.4588235294);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.details__infos__credits table {
  border: 1px solid rgba(87, 87, 87, 0.9647058824);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.9rem;
  margin: 0 auto;
}
.details__infos__credits table tr {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.details__infos__credits table tr td {
  display: flex;
  flex-direction: column;
  color: #e6e6e6;
}
.details__infos__credits table hr {
  border: none;
  border-left: 1px solid rgba(87, 87, 87, 0.9647058824);
  margin: 0 0.5rem;
}
.details__infos__details {
  margin-bottom: 30px;
}
.details__infos__details__box {
  border: 1px solid rgba(87, 87, 87, 0.9647058824);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.details__infos__details__box td {
  display: flex;
  flex-direction: column;
  color: #e6e6e6;
}
.details__infos__details__box td.title {
  color: #b3b3b3;
}

.sign__container {
  width: 100%;
}
.sign__container__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 10px;
}
.sign__container__links a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.sign__container__form__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}
.sign__container__form__avatar__list {
  display: flex;
  gap: 10px;
}
.sign__container__form__avatar__list img {
  cursor: pointer;
  width: 78px;
  height: 78px;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
  border: 3px solid transparent;
}
.sign__container__form__avatar__list img.selected {
  border: 3px solid #41b4e9;
}

/*# sourceMappingURL=index.css.map */
